@import "reset-css";

:root {
  --lightBackground: #f2f2f2;
  --lightSurfaceLow: #f9f9f9;
  --lightSurfaceMedium: #d9d9d9;
  /* --lightSurfaceHigh: # */
  --lightSurfaceContentLow: #dadada;
  --lightSurfaceContentMedium: #5d5d5d;
  /* --lightSurfaceContentHigh: # */
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.background {
  background-color: --var(--lightBackground);
}

.light-surface-low {
  background-color: --var(--lightSurfaceLow);
}

.light-surface-medium {
  background-color: --var(--lightSurfaceMedium);
}

.light-surface-contentlow {
  color: --var(--lightSurfaceContentLow);
}

.light-surface-content-medium {
  color: --var(--lightSurfaceContentMedium);
}

/* Refactor */
button {
  border: 0;
}

/* Demo */

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.device {
  width: 360px;
  height: 800px;
  border: 1px solid #f9f9f9;
  overflow: hidden;
  position: relative;
}
/*  */

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #f9f9f9;
  padding: 12px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar--content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.navbar--image {
}

.navbar--title {
  font-weight: 700;
}

.navbar--button {
  width: 32px;
  height: 32px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.content {
  width: 100%;
  height: 100%;
  padding: 24px 16px 0 16px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-top: 80px;
  gap: 24px;
}

.asset-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.asset--content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

h3 {
  font-size: 12px;
}

h4 {
  font-size: 16px;
  font-weight: 700;
}

.asset-info--subtitle {
  font-size: 14px;
  color: #5e5e5e;
}

.asset-info--change {
}

.chart--timefrme-selector {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4px;
}

.chart--button {
  background-color: --var(--lightSurfaceHigh);
  color: --var(--lightSurfaceContentHigh);
  border-radius: 4px;
  font-size: 12px;
  height: 32px;
}

.configuration {
  padding: 12px;
  background-color: #dadada;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: 200ms ease-in-out;
}

.keyboard--wrapper {
  z-index: 3;
  background-color: #f2f2f2;
  display: grid;
  grid-template-rows: repeat(4, min-content);
  gap: 2px;
  position: relative;
}

/* .configuration.active{
  transform: translateY(-200px);
} */

.configuration--column {
  background-color: green;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.configuration--option span {
  font-size: 14px;
}

.notch {
  position: absolute;
  top: -24px;
  left: 0;
  width: 100%;
  text-align: center;
  color: red;
  z-index: 1;
  font-size: 24px;
}

.keyboard {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 2px;
  transition: 200ms ease-in-out;
}

.control {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  gap: 8px;
  padding: 4px 0;
}

.control--button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: --var(--lightSurfaceHigh);
  color: --var(--lightSurfaceContentHigh);
  border-radius: 4px;
  font-size: 24px;
}

.control--favorites {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.favorite {
  height: 40px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories,
.coins {
  display: grid;
  grid-template-columns: 20px 1fr 20px;
  gap: 4px;
}

.keyboard--navigation {
  width: 20px;
  height: 100%;
  background-color: --var(--lightSurfaceMedium);
  color: --var(--lightSurfaceContentLow);
  padding: 0;
  border-radius: 4px;
}

.keyboard--navigation i {
  width: 12px;
  height: 12px;
}

.categories--wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4px;
  width: 100%;
}

.category--ticker {
  font-size: 9px;
}

.coins--wrapper {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
}

.coins--row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4px;
  width: 100%;
}

.coin {
  background-color: #f9f9f9;
  color: --var(--lightSurfaceContentMedium);
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0;
}

.coin--icon {
  width: 20px;
  height: 20px;
  display: block;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin: 2px;
}

.coin--ticker {
  font-size: 8px;
  margin: 0;
}

.actions {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 4px;
}

.action,
.category {
  height: 48px;
  background-color: #f9f9f9;
  color: #5d5d5d;
  border-radius: 4px;
  font-size: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action .uis,
.category .uis {
  font-size: 20px;
}
